html, body{
    background-color: #a77934;
    margin: 0;
    padding: 0;

}




header{
    background-color: rgb(109, 69, 69);
    position: relative;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

header h1{
    color:rgb(14, 13, 13);
    font-family:Arial, Helvetica, sans-serif;
}

.verticalAlignment{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.horizontalAlignment{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#searchArea{
    position: relative;
    padding-left: 1%;
    width: 25%;
    height: fit-content;
    border: 1px solid rgb(17, 17, 17);
}

#searchArea h2{
    
    margin-bottom: 8%;
}

#submitText{
    background-color: transparent;
    position: relative;
    width: 80%;
    display: flex;
    margin:3%;
    justify-content: center;

}

#submitButton{
    position: relative;
    width: 90%;
    height: 30px;
    display: flex;
    margin:3%;
    justify-content: center;
    background-color:rgb(22, 21, 22);
    color:rgb(190, 28, 28);
    border:0px;
    border-radius: 4%;
}

#searchHistory{
    border-top: 1px solid black;
    height: 350px;
    width: 95%;
}

#infoName{
    display:flex;
}

#icon{
    display: flex;
}

#currentInfo{
    border: 1px solid black;
    margin: 2%;
}

#fiveDayInfo{
    border-top: 1px solid black;
}

#fiveForecast{
    display: none;
}

#fiveDayInfo div{
    background-color: rgb(190, 228, 24);
    color: white;
    padding: 1%;
    margin: 1%;
    width:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#fiveDayInfo div div{
    width: fit-content;
}

.goodUV{
    background-color: rgb(12, 235, 12);
}

.moderateUV{
    background-color: rgb(173, 147, 99);
}

.badUV{
    background-color: rgb(77, 75, 59);
}